@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
.app {
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Roboto';
}